name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            alpine: true

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install latest Rust
      run: rustup update

    - name: Install musl target
      if: ${{ matrix.alpine }}
      run: rustup target add x86_64-unknown-linux-musl

    - name: Install musl tools
      if: ${{ matrix.alpine }}
      run: sudo apt-get update && sudo apt-get install -y musl-tools

    - name: Lint
      run: cargo fmt --all -- --check

    - name: Clippy
      run: cargo clippy

    - name: Install re2c (Ubuntu)
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get install -y re2c

    - name: Install re2c (macOS)
      if: ${{ matrix.os == 'macos-latest' }}
      run: brew install re2c

    - name: Install re2c (Windows)
      if: ${{ matrix.os == 'windows-latest' }}
      run: choco install re2c

    - name: Install tarpaulin
      if: ${{ matrix.os == 'ubuntu-latest' && !matrix.alpine }}
      run: cargo install cargo-tarpaulin

    - name: Build and Test (Alpine/musl)
      if: ${{ matrix.alpine }}
      env:
        CC: musl-gcc
      run: cargo test --target x86_64-unknown-linux-musl

    - name: Build and Test (Alpine/musl with re2c)
      if: ${{ matrix.alpine }}
      env:
        CC: musl-gcc
      run: cargo test --target x86_64-unknown-linux-musl --features re2c

    - name: Build and Test (Coverage)
      if: ${{ matrix.os == 'ubuntu-latest' && !matrix.alpine }}
      run: cargo tarpaulin --out Xml

    - name: Build and Test (No Coverage)
      if: ${{ matrix.os != 'ubuntu-latest' && !matrix.alpine }}
      run: cargo test

    - name: Build and Test (With re2c)
      if: ${{ !matrix.alpine }}
      run: cargo test --features re2c

    - name: Upload coverage to Codecov
      if: ${{ matrix.os == 'ubuntu-latest' && !matrix.alpine }}
      uses: codecov/codecov-action@v5
